* {font-family: sans-serif}
a:visited {color: #000000}
a:hover {text-decoration: underline}
a[disabled] {
  pointer-events: none; 
  color: gray; 
}

html {width: 100%}

#envspan {margin-right: 2em}
#environment {background-color: antiquewhite}
#seqspan {margin-right: 1em}
#sequence {background-color: antiquewhite}
#statspan {
  margin-right: 1em;
  background-color: antiquewhite;
}
#btnspan {margin-left: 2em}

.table {
  display: table;
  margin-top: 1em;
  width: 100%
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  white-space: nowrap;
  border: 1px solid;
  padding: 3px;
}
.tcell {border-top: 2px solid; background-color: #EEE}
.bcell {border-bottom: 2px solid}
.lcell {border-left: 2px solid}
.rcell {border-right: 2px solid}

.runninginvisible {margin-left: 1em;}
.runningvisible {display: none; margin-left: 1em;}
.tcduration {text-align: right}
.tcnotes {width: 100%}
