<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>TestCaseRunner</title>
  <link href='/assets/favicon.ico' rel='icon'>
	<link href='/assets/tcrunner.css' rel='stylesheet'>
</head>

<body>

<%= yield %>

</body>
</html>
