<h4><bold>Test Cases</bold></h4>

<div id='entries'>
<% @tcrunner.testcases.each_pair do |d, mfiles| %>
  <h3 class='catname'><%= File.basename(d) %></h3>
  <div class='catentries'>
  <% mfiles.each do |e| %>
    <a href=<%= uri("show/#{escape_path(e)}") %>><%= File.basename(e, '.rb') %></a><br/>
  <% end %>
  </div>
<% end %>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    // attach show/hide handler to category list
    var ee = document.getElementsByClassName('catname');
    for (var i = 0; i < ee.length; i++) {
      ee[i].onclick = function(e) {
        for (var j = 0; j < ee.length; j++) {
          if (ee[j] == this) {
            this.nextElementSibling.hidden = !this.nextElementSibling.hidden;
          } else {
            ee[j].nextElementSibling.hidden = true;
          }
        }
      }
    };
    ee[0].click();
  }, false);
</script>
