<p><code><%= @tcfile %></code></p>
<pre><code><%= @tccode %></code></pre>

<script type='application/javascript' src="/assets/jquery/jquery.min.js"</script>
<script type='application/javascript' src="/assets/jquery/jquery.simplemodal.min.js"</script>
<link rel="stylesheet" href="/assets/highlight/hljsstyles/xcode.css">
<script src="/assets/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
