<h3><%= tc[:name] %></h3>

<% unless tc[:psection].empty? %>
<%= "(#{tc[:name]}-#{tc[:psection]})\n<br/>" %>
<% end %>

<% unless tc[:parameters].empty? %>
<%= "parameters:\n" + tc[:parameters].pretty_inspect.gsub("\n", '<br/>') + "\n<br/>" %>
<% end %>

<h4>Status: <%= tc[:status] %></h4>
<% unless tc[:status].empty? %>
<%= "start time: #{tc[:tstart]}, duration: #{tc[:duration]} s" %>
<% end %>

<h4>Result:</h4>
<small>
<% tc[:report].each do |line| %>
<%= line.gsub("\n", '<br/>') %>
<% end %>
</small>
