<h2>Testcase Runner (<%= @tcrunner.env.upcase %>)</h2>

<div>
  <span id='envspan'>
    Environment:
    <select id='environment' class='runningdisabled' onchange='changeEnv(this)'>
      <% @tcrunner.environments.each do |env| %>
        <option value="<%= env %>"<%= " selected" if env == @tcrunner.env %>><%= env %></option>
      <% end %>
    </select>
  </span>
  <span id='seqspan'>
    Sequence:
    <select id='sequence' class='runningdisabled'>
    <option value=''></option>
      <% @tcrunner.sequence_names.each do |name| %>
        <option value="<%= name %>"<%= " selected" if name == @tcrunner.seqname %>><%= name %></option>
      <% end %>
    </select>
    <input type='button' onclick='loadSequence()' class='runningdisabled' value='Load'/>&nbsp;
    <input type='button' onclick='startSequence()' class='runningdisabled' value='Start'/>&nbsp;
    <input type='button' onclick='stopSequence()' value='Stop'/>
  </span>
  <span id='statspan'>
    Status: 
    <span id='status'><%= @tcrunner.status %></span>
  </span>
  <span id='btnspan'>
    <input type='button' onclick='loadLastRun()' value='Last Run'/>&nbsp;
    <input type='button' onclick='storeResult()' value='Store Result'/>&nbsp;
    <input type='button' onclick='reloadLibs()' value='Reload Libs'/>&nbsp;
  </span>
</div>

<div class='table'>
  <div class='row'>
    <div class='cell tcell lcell'>Test Case</div>
    <div class='cell tcell'><input type='checkbox' class='runningdisabled' onchange='selectAll(this)'/></div>
    <div class='cell tcell'>Psection</div>
    <div class='cell tcell'>Status</div>
    <div class='cell tcell'>Start Time (UTC)</div>
    <div class='cell tcell'>Duration</div>
    <div class='cell tcell rcell'>Notes</div>
  </div>

<% @tcrunner.sequence.each_with_index do |tc, i| %>
  <div class='row'>
    <div class='cell lcell'>
      <% if tc[:name] && !tc[:name].empty? %>
      <a onclick="window.open('tcdata/<%= i %>')"><%= tc[:name] %></a>
      <% end %>
    </div>
    <div class='cell' data-idx='<%= i %>'>
      <% unless tc[:name].empty? %>
      <input type='checkbox' class='checkthis runningdisabled'/>
      <a class='runninginvisible' onclick='startTestcase(this)'>&#x25B7;</a>
      <a class='runningvisible' onclick='stopTestcase(this)'>&#x274C;</a>
      <% end %>
    </div>
    <div class='cell tcpsection'></div>
    <div class='cell tcstatus'></div>
    <div class='cell tctstart'></div>
    <div class='cell tcduration'></div>
    <div class='cell rcell tcnotes'></div>
  </div>
<% end %>

</div>


<script>
  var evsrc
  var ivStatus
  var fldStatus
  var fldSequence

  window.addEventListener('DOMContentLoaded', () => {
    ivStatus = setInterval(() => {
      fetch('status')
      .then((res) => res.json())
      .then((data) => {if (data !== '') setStatus(data)})
    }, 1000)
    // get doc elements
    fldStatus = document.getElementById('status')
    fldSequence = document.getElementById('sequence')
  })

  const statusBgColors = {
    'idle':     '#faebd7',
    'loaded':   '#ccf',
    'running':  '#ffc',
    'partial':  '#ffc',
    'passed':   '#cfc',
    'error':    '#fcc',
    'failed':   '#fcc',
    'aborting': '#fcf',
    'aborted':  '#fcf'
  }
  const cellsPsection = document.getElementsByClassName('tcpsection')
  const cellsTcstatus = document.getElementsByClassName('tcstatus')
  const cellsTstart = document.getElementsByClassName('tctstart')
  const cellsDuration = document.getElementsByClassName('tcduration')
  const cellsNotes = document.getElementsByClassName('tcnotes')

  function setStatus(data) {
    // overall status
    const tstat = data.status
    fldStatus.textContent = tstat
    fldStatus.style.backgroundColor = statusBgColors[tstat] || '#fff'
    if ((tstat === 'running') || (tstat === 'loading')) {
      for (const e of document.getElementsByClassName('runningdisabled')) e.disabled = true
      for (const e of document.getElementsByClassName('runninginvisible')) e.style.display = 'none'
      for (const e of document.getElementsByClassName('runningvisible')) e.style.display = 'inline'
    } else {
      for (const e of document.getElementsByClassName('runningdisabled')) e.disabled = false
      for (const e of document.getElementsByClassName('runninginvisible')) e.style.display = 'inline'
      for (const e of document.getElementsByClassName('runningvisible')) e.style.display = 'none'
    }
    // per testcase
    data['sequence'].forEach(function(e, i) {
      // psection
      cellsPsection[i].textContent = e.psection
      // tc status
      stat = e.status
      cellsTcstatus[i].textContent = stat
      cellsTcstatus[i].style.backgroundColor = statusBgColors[stat] || '#fff'
      // tc start time
      tstart = e.tstart
      // cellsTstart[i].textContent = tstart === null ? '' : (new Date(Date.parse(tstart))).toLocaleTimeString()
      cellsTstart[i].textContent = tstart === null ? '' : (new Date(Date.parse(tstart))).toISOString().slice(0, 19).replace('T', ' ')
      // tc duration
      cellsDuration[i].textContent = e.duration
      // tc notes
      cellsNotes[i].textContent = e.notes
    })
  }


  function changeEnv(e) {
    fetch(`changeenv?envname=${e.value}`).then((resp) => location.reload(true))
  }

  function selectAll(cb) {
    for (const e of document.getElementsByClassName('checkthis')) e.checked = cb.checked
  }

  function loadLastRun() {fetch('loadlastrun').then((resp) => location.reload(true))}

  function storeResult() {fetch('storeresult')}

  function reloadLibs() {fetch('reloadlibs')}
  
  function loadSequence() {
    if (fldStatus) fldStatus.textContent = 'loading'
    fetch(`loadsequence?seqname=${fldSequence.value}`).then((resp) => location.reload(true))
  }

  function startSequence() {
    const idxs = []
    for (const e of document.getElementsByClassName('checkthis')) {
      if (e.checked) idxs.push(e.parentNode.getAttribute('data-idx'))
    }
    fetch(`startsequence?idxs=${idxs.join()}`)
  }
  
  function stopSequence() {fetch('stopsequence')}

  function startTestcase(e) {fetch(`starttestcase/${e.parentNode.getAttribute('data-idx')}`)}

  function stopTestcase(e) {fetch(`stoptestcase/${e.parentNode.getAttribute('data-idx')}`)}

</script>
